@import 'ionicons/ionicons';
@import 'partials/theme';
@import 'partials/palmer';


.my-overflow-y {
  white-space: nowrap;
  overflow-y: hidden; 
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  min-height: 100px;
  margin: 0 auto; 
  padding: 10px 0 10px 0;
  border-bottom: 1 solid #666;
  background: #fff;

  img {
    margin: 0 10px 0 0;
  }
}


