<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="list_price">List Price</option>
        <option value="create_date">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
            <img src="http://www.wpsstatic.com/WPSIMAGES/thumbs/{{phone.image}}" class="img-responsive">
          <p>{{phone.list_price}}</p>
          <p>{{phone.description}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
