<div class="tab-filter">
    <div class="selecter select-short-by closed" tabindex="0">
        <select class="selectpicker selecter-element" data-style="btn-select" data-width="auto" tabindex="-1" ng-model="orderProp">
            <option value="Short by">Short by</option>
            <option value="list_price">List Price</option>
            <option value="create_date">Newest</option>
        </select>

        <span class="selecter-selected">Short by</span>
        <div class="selecter-options scroller">
            <div class="scroller-bar" style="height: 100px;">
                <div class="scroller-track" style="height: 100px; margin-bottom: 0px; margin-top: 0px;">
                    <div class="scroller-handle">  
                </div>
            </div>
        </div>
        <div class="scroller-content">
            <span class="selecter-item selected" data-value="Short by">Short by</span>
            <span class="selecter-item" data-value="Price: Low to High">Price: Low to High</span>
            <span class="selecter-item" data-value="Price: High to Low">Price: High to Low</span>
        </div>
     </div>
</div>