
@font-face {
  font-family: 'Dekaranger3DItalic';
  src: url('Dekaranger3DItalic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dekaranger3DItalic';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAFfkAAwAAAAAy2QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABHAAAADkA
AABOeuIX7lZETVgAAAFYAAADMQAABeBlkW0rY21hcAAABIwAAAG5AAAB/q2RBRJnbHlmAAAGSAAA
RqMAAK0qojgbSmhlYWQAAEzsAAAAMgAAADYEcFc4aGhlYQAATSAAAAAgAAAAJAh2BR1obXR4AABN
QAAAAf0AAAN0mRYuJmtlcm4AAE9AAAACPQAABLYY/CCcbG9jYQAAUYAAAAG8AAABvBbWQnFtYXhw
AABTPAAAABgAAAAgAPIB2W5hbWUAAFNUAAABYQAAAvrpY4/HcG9zdAAAVLgAAAMrAAAH2mWFvTB4
2mNgYGZinMDAysDAkAKEDAw9cNqI4RcDEmhgYGBH5hdUFhUDKQVFJaZ3/8MY5Jj+MFwAAFWtC1kA
AAB42h3EU2AQABSG0a+nVi3bWrZt27Zt27Vs27Zt27btWrz93fNwgFCE+o9AQgKMAELbX8L4YQmw
P4QjjA4krA7vRyCcjkig/SYS4XVkPwoRdFQi6mhEsl9EJ7KO4cckio5FVB2baPaTOH5cout4xNDx
iWk/SOAnJJZORGydmDg6iQ4hKXF1EPF0MuLr5CTQKfR3UpJQpyKRTk1incZPSxL7RjqS6vQE6Qx+
RpLpTCS3r2Qmhc7iZyWlzkYq+0J2UuscpNE5/Vyk1blJZ5/JQ3qd189HBp2fjLoAmewTBf1CZNaF
yaKLkFUX1R8pRjZdnOy6BDl0SXLqUvoDpcmly5BblyWPLqffU568ugL5dEXy60p+ZQrYO6pQUFel
kK7mV6ewrkERe0tNiupafm2K6ToU13UpYW+oR0ld329AKd2Q0roRZew1jf0mlNVNKaebUd5e0dxv
QQXdkoq6FZV0a/2SNlTWbami21FVt6ea7qBf0JHquhM1dGdq6i5+V2rZc7pRW3enju7h96Su7kU9
e0Zv6us+fl8a6H401P1pZE8ZQGM90B9EEz2YpvaEITTTQ/1hNNfDaaFH0NIeE+yPpJUeRWs9mjZ6
jH7EWNrqcbTT42mvJ9BBT9QPmURHPZlOegqd9VR/Gl3sAdPpqmfQTc/0Z9Hd7jObHnoOPfVcfx69
9Hx62z0W0EcvpK9e5C+mn15Cf7vLUgboZf5yBuoVDNIrGWx3WOWvZohew1C9lmF6nb7NeobrDYzQ
GwnWm/QtNjNSb2GU3spovY0xeru+yQ7G6p2M07sYr3f7e5hgN9jLRL2PSXq/f4DJ+iBT7DqHmKoP
+0eYpo8yXR9jhl3jODP1Cf8ks/QpZttVTjNHn/HPMlefY54+z3y7wgX/Igv0JRbqyyzSV/RlrrJY
X2OJvs5SfYNl+qa+xC2W69us0HdYqe/691hlF7nPav2ANfqh/4i1doHHrNNPWK+f+s/YoJ+z0c7z
gk36JZv1K/81W/Qbtto53rJNv/Pfs11/YIf+yE47yyf/M7v0F3brr+zR3/QZvrNXh7BP/2C//un/
4oCd5jcH9R8O6b8c1qZP/QN6OLdxAAAAeNpjYGBgYmBkAAERBmYQi1EKiNkYoIJAmhlIMDOgAqAk
MwsrGzsHJxc3Dy8fv4CgkLCIqJi4hKSUtIysnLyCopKyiqqauoamlraOrp6+gaGRsYmpmbmFpZW1
ja2dvYOjk7OLq5u7h6eXt4+vn39AYFBwSGhYeERkVHRMbFx8QiLDwkVLlq3bvHPf3v0HDxw6cuzo
8ROnTp4+c+7C+YuXL12/duNmRm99Q0vJ5D3dbRUTWxkWb2XoY2BomgR2Xft0hsNX59R1MqQyMHTM
SGeeu2BTXnVpWVFxQeEVhju1DI25VQwMmVNS0rLnL5+3Yumq1WtWbtjIsH77jm0MWeU9QAOmgkxh
YXgCJHUYFIAsHoYGoPnzGBYw/GcMZkxkrGCsY5zEdIzpjoKIgpSCnIKSgpqCgYKVwhpFpf//gboU
oKoXMgYxJgBV10JVCytIKMgoKIBVW0JU/3/8/+H/ewwM/++CLP3PysDw7/LfJX9nP0iCBPUDxwfW
DAz3t98Pg0eJGhCrgEk1eIwoAEU0wCwNqAgzQx5DNUMOQyVDPkMNQwFDIUMKQxFDMUMaQwZDJkMJ
Qy5DFQBztYfqAAAAeNrtvQmAHFW1P1zn1tpd1WttXd013dPTM90zk9l7ZjrLZLKwhGxkAQIJm4Rd
FhEIArJmooASMAIKKIRNdmQVcUFFwsPHexgF5LEoKj7hIYiI+kRJV75zb1X39GQBAsHv+/7/ZNLT
PTPdVXXvOfec3/mdc09xArdg8/NEJJM5ngtxOpfhuIpcruh52S5XAL/zcqFUKPGVsmzjq3Nbftuy
2tswlPntTO9NOIAYk/f8ky5mrfYqGKW/G9dffz1c9M7++4MkOd4/D3UO8zY8LDnfdjg8+hHgkk/h
eQQ8D55Fl8szoEy/iRV6Ch1PQE8Sg0Lp5v5Vh7Rk6Tfvn9L8NbpU+Q0h5DfEaDt6jU46X93zevz/
t9xkB3iJKJJzz0I8A+GGNz/PP4lnyHBz8PgFOY9fZTlfYY9KgT3yMn2U8WHXvtOBBd/zpUIl+I6P
fAVfPTbkwm0Jb393yIYRezL9NuQOJfBheRusyfht2ZBFZyLG+08uMZqHJPyex3d805ASvP9k6VIL
3CZ5pxkS/Hhsydhx+A+fjjnmmBXHSM5c+pCcq1x8HOcsxf/OepeNqmXzXfzPyBHcKLeG49rwossD
w5VRqAwXSz1QyLf0wNBgZdjCX5XxgvHyCy2SHAVZMo0s2Fnozw9kgf6mgKP1x4UHyPfw+PFe6CHs
YEOjMA2YjOmU5Es2HqAgmfkBy7ZyYNHjRWES/q4EU7SXtZtUN9xXDkVa+gWVeI9LEg9ABEHj4SHX
eynycuRiJR0qD6iilrYVB4ZlmeAbEiFvofua/KqBE/EIL4P3giKLghAxFTlphEBQK8NqLnxOxANd
ghAYeW+6oRMePwpFEhXLutCeDFfKak67KvKOHp06VRPtvbqnLLMJH4pIsiCCKIXHpk+XxNScPttJ
9bSGiBKKRARFX71X3rlWEXm8ThBjqhIpdfca5YVpnJjpkpPFSXccIuBfBZKaJJb37VvoSNpUnH+F
czffK5xFDuViXCc3lduPW85dzn2NuwFlUWgpzgA6cQNWDHCG2FyPkhkw3ENQMFESAylL4IO9rS0P
ebreoDxg5UgW8K18AQVRRBnBDKBKiSvDDH4c5csomxzQ9+ny8Aw8LsjDQ5Uo8J0RRSNhEleSUpSo
xLibiBDWXCfJZ4kS08PeH1THTpAckWM6yoq9ORa8WX+vN/PrvTerMTDgRRiRDe+s38abFRRamGR5
s6k56v1VAScZU6N86o/efxgqfPFXSioZ06JCjphuLgIWvl/Et9v/KylE4iWvWwrJvDQUV7rluCYP
KtpBABHd0S4O22Y0atihy1QjocHD7/OGP1SfJZPFtPdyTgcx0qRdHHXtGA+CratNsU9904EC/SGp
NsUvU91UIqvL+KbjveczRMyBDIf5z2iXZqP9+B+0Hw63kFvNrUUJl3EFWaZBZTEJWnqozHC1iEx8
ZAjtRw/BxYfrB1ceChLXiN2XJbZpsNe++FHieWZcqDxbqPzwM1QhKnKFrb0eKBWK+ApFiu8TZbq+
C32SLMH9+6E4RCAghSLy7ooi4CKCkKBu5sBrrnQ1iQK/t+vFZFnAxaVAzvUyLSO9zZIgiHTZKOEQ
hCReEAWzA1aKCsCf0TYtkKVcz/QWjzitETlhqYLAy2GQUJS8QD8lCqJcKM8qwl/wzd41MEUJkVE8
4lMkLOICEiUxGgmFIlERpSdqTxXKI05SC49BmC5BOUfGmvunNxmFZFgN49Wq0SgfTUSSzki5AOcR
U8Sl1pSZUWnT46FIe4+dMpKxZBxCKi+JohQXjTY7N3u4Bd/1umjIIVFEC4ieA+5gniMS+A1Rr3uK
y9BJ/LLiUd9wg+8b/oZegbkEwvVsvouMoe10ud04DnwZ8SgUtJSFPmo/2UqqUPH469C2ygM2rlCb
mUImLajo+B6yu+ttNMs9BWGxqLd0GVDM9JlyNCr0kZiVjh4OevMs1UpGSC81MfhPkcNTqAnbmCrr
vNMkLRZK5Sk2PD3mdvTp3ufN7mJqdYSobclfh9OpxDoccNS0lV/HQvhZFJnkXJlLCdZUF840h7pz
OBYTx3IMjqWFm8lmwcYr9Q2KSY01/oKqZUUfZhddENHMZ3G0VOvQZaCejYJvcm5skYxZMv6pj08l
wkpkcl7Sod+aOtwh4tiSfLyc8e5xod8sNUVxtG0Dw4b3QqYPtIRguDheQTMi5Ij1DujJX0ezYXq1
1zrpjn4bzkT/yDd1rWscIypWbZDUm50Bh8G/kXVclGtDidiVUqUko88q4XTnoCT3kkovVBgQqKDR
seUSCOaR1jSzrJ4kd1QGygsrontITM0klDkt0lqiJyCZrphnGvC9ntnt0ZWpwcHUYZGumUaoee9k
2LbJuXqH5CiqeUaksDiN51/AVYgM/8WpXI5qRIG5fvSplVIdChQC94/456TUWOpU91RnzDnVnQ9G
8kBcEqc6VxmSsR86sVNTsOyUU8ZWrRo7X3L2RQmucg5y1p+CZ4lvvgwO4O72NbYyQWOX1jQWjOJR
NxjXNyosu7474T/gCMRLKl4fIpg23yEX4Fbv5y70ei/DfLouv4coYtkYVRuq57nNz7PzsU9R/CYG
eG1py8st3uvteLLSOxSd3e3DMbL53c3PCwcw1MfOE/gePI/Q6m2oToERuBCOlIxq1rvRCJNO38RW
f4TXKDCc9SJ+1uYGuCXcscwTUts4yqOPyxJqLcUsohFfHQMnx9ZdfTkFzstXzxa6Ettw7U3DQ6CO
0h/R3OJn4C8dqhmV0RnF7bRWDhmxECnwuuN63+Q1ILozub9NnCbEmkpG9RmDrs4ZYrypOIl3XHkG
XXAW6coMJIiui9Ok0tBIpvpHPkqMTpjGi7LaHrLMGCmglRJlvhw29ShZHbUzkbXhjBXXkmb4Js3W
I+cC73T0p8DW+zrcTEdP0nvBbG9JhYgxJQdFo9yd7W7i7YrtvZYe6srwILrfisYkCMf00E2CgoY4
YlghqvmIs6/EWRO5BJNsmWdzzuOc66huZJXX7355BUz3vg6vE+NM7y5D2vcUXSKda7wVZLLk4OTD
WqYjeZz/b+GRerlD0RLYeYbtGOiLAVoBXFN5CgZHefQpFWoOiqUKhYoy1acKswS+cEaBQcgKhXlZ
ggfg8Rj9TFrnGvBNILLgPc7HpVnzoiXJ4LPNBvEWgaLAlHAIPUK2r2CJIcWWIy4obri6sgV0eMLd
9E5rZI8RIUJgihRWRGoMicJ7e7nkS/hew1aJKBq5znQ44z0hq/QNVzm8aAjEOXj6d5wrHUkyGU4L
t/cNpdoXuqG0jjBtvffa6jsCrBcRxDiFepKoFTp7U3Z/Hen5a4G/D2dnhDsF1wJDsL4HxwnwcRcd
Nj8dda2fwmiqnzLFyKbBXDRfQ8j+8wzwX6C+FoYLiKcpFi4xGGdTdCCxQx8M9xGp7qq9ZS65IHDQ
VLskAcIhRVMFSUz3tFQ/78J9gohD9N87k+Lhh9DLest19ioM4C3HX5ILO8tR5kxsTRHDURBQrwgI
EvBodJkXf0ob98mrmSuOJNDhRlV8HzrgZMFomt7fPBaOyogDopGwN+Zca8jOdZYIzvp2RCfgLmiz
Wg0QDQmdv5IU48lokvpnnMn5OJN/wZlk8RrkeZwmjAsLbfXYiWdTg7bpt95j8+DNLhg5zdvQdb/3
CuyP/vicLhoPnUmDn5LXj8fv9L6xkXRu/BUau41Mnx8MbBf/NJ6lm1uBloSKYqvwBmWAp5sQ0ESF
ti3CmBnALKU8MWYp0MvbjHEHuRhjlt7KhJglBE+6m/63rTFKIVJI9UYxPAlvFZ6080VqecsStNej
kak0Gqkea0irV2MwsqwhGOkcu6MhBFFw7qPWFvHHd2i8Vws4DsSAg1nXCs7HqzgfYa6Hm8YdxKxr
qTg0OER1IbCkzHiWgyjC9/dsyVdKUJDRzqIdHiV0tTNUkw+MMp1NQs0vvOGGI+QTqgkvVfczpwy2
CzMkN80ny2mipKcNlcSYGE0IsZGi95LqhOCbecM79kaCMYCludGMHffeJNe43sGhdCpJCCxLdzdH
hZjY2l9JVd+xuvJJcYZQ6C1/SRFEUdRicGu2u4wQwh2xBDvb1DWUmmP1GEJzd0S/2vGuk9S0FYun
XDhiTcJOh8Kptm5zjtXfkUkVu00oJns6Mr715M/AWZE43feL6LGYItLlSR/8supiF07xfgTTYWb1
MPKfxMh53/NuMxTo8jYEdhRu/rLkfNlb6ltSiSH++9hc69xS7njuPO47ON8VCun7cboLFapEBdRG
qnfluvWgJnVosMQsaaU2/wH+r6COMs3zAwCqs200IpdYNMAEgzLDT6MnxCcK/uvBenkU9LzvSvHQ
aKJ6+P4gMqBYjh4TBWlghOGbHXgI0bqwJwkpswBUeRYoone+HGl1iNQyvScnofXhMc4mwCtqXBUV
zeaj5XbPKM4qF2SRlxDt46LnxZAYlnlBUC2462CiCiH8BAiKskCOhKjBwRhkCA2OcKiSQOsjy0sj
yZOr/2zuMDGy4KUQhDHOwNgBL0Vq7h1pgTdaetJo81QNNFRZNE70CgSxqavyJZEXxZBsvIX2hogm
8T4XiuttlRmZZNRMyEl8HyFE0+yi1bbA5bOlluHZObs9HZJiaJ1EKarEMVowUnZP+480UQ6NhyLU
CIrhu3lJiqDpy2EgIkUw/Mh5F23XKAZhCkQTLEyJ1MMUXIMHol5sRL1QuC5uCrVLQMG2jZogMkVg
ZMoWgDuI5K22MvUpDL9Qs8XkHQg1kCOCHpJzMbaBQ1Xbu0BIlJsgjwvN+yIic3K8WSmXEMfE4kJi
NF99Jz19uF2MSWmYciPw9SUIyep6F472l6B3Oy7BmOgvQaLgEkwIdAkOwvkoBTX+VclyI/p1TnbS
AAYuZrchNvdmu4dTc5pGlteWn/f1bSw/7wW2/HBGKMK8FL6FeFHmYoj8aARSgQakqQfPX6CI85VG
2DmAz3rpHR1uuf567581DApSwAwKDC3TYws43wmMvn3EzNMT1FBz7egMPd9Oj35TDUHPCg5PkTRI
eAoxgNOwIDgD4fZCeVZq2KsD3Wc+BAWbWg0Ge2E2zHsFDvYe9G4kiwXDu8Lk/wwnwimS4V0JBlje
H7yXHAdaoFVMe7/FOZjCLSVp+CGbDdv3WnoNqxd8vI5CLMDPvStcOG42++7dDBdglOjQoPBcdPRu
Uto0BpMZhucRxq+38Eo3b0KU+Ca70hjH5YHP6yHwgTm+huPhoFe9B1/1biLf5U3vq94VRhhOeBtO
CS7yDTAIXiC7Ury2MwKcyHMlbl8/Lijl+6g9QbvV42M/311S6Icai0aFXnaFkVXjyMeWfbBO4SEv
500qiAdQBv9FJmXC6c6cIYpEtQ3ZVqonufAQr1DGDkQlLL04skCb2Z6J40Ldd7cXBfSv3lIKbK4N
uwq4EfxESLQKfVk0HaGwd3MQpPQrJNTa02+nejsLmiiNhSWEe0IkEpo15Q8Pm6mZexki76yXJdDT
IXdhe2qorz1Mo2aeUHErNOoXQxgpE0QucYyXe7lFiJRvQzmV7BkwOFyRjRJad3kU+AobmV3A2agU
qZ9tw1kpsciaFNsmelvE1eUGjwtlFlAX/XmTrAY3S6kFvr7eYzDcP1CPvmtmggEZueaRiQD81ZLM
yxdEk+2xcPMnZDEaUyx1clhWfD4BnhOVpsReNG4PoUVWNl1lT0E7sVhqcni9nCLn5A14wyp358VO
KZ4UtdbqixFFJyqJSkklDmGiebfzR5vNBkITMdvRa1R/LpKQHpNJjiRsRwUrrMcUEkOfgVF+iEX5
3qVRNA6kT4hGZRPOzlTXGl0turhYKPSUjwD4UgadS058kLiJRNb7dT6mJdUooZgXIPSOqCO81JOd
YszLdQ+Z3ufdqZaQyl3pCJQreCw9OyWm8t5q0JRBWYvL3XiRJ1He4DFKG2DIoCUM9bKQbUSjph3e
jVAWoZOyCIlUOvzrZJtKIqsZQjiTxmW+hRJGUdtVrokb4mZQlBAEpLiIxqNQNMkiRlyNMajP+uvo
pMso/MECecJ7ncStTOQqTVeFeTCy3I8wTzYHegvCcpjWBXb1i4Z0kFgcnGyTSzKDCcAI8yCGdF/u
uhRN+UZ0rDzsH3YdvF7Xuxa+oaMhzbT36t6BG//XgfvNwa5sNzryIctb7Dy4EW6Jq1JUAn8cPEbb
uP4nc4ez6Lo8HsNMggri8ACH4MVuM4Zpmxi2DE6MWkxDCrjlQhvjGuGqqxtily//0BuYS+7woxcQ
IBRG/z4eu6x04dla7OI1wy9ZsDJE1/Sd7WX0eCQIVXhNDsn4eRalVOcZElwpHocxTmPA8ox3O/PO
kplywoCOaqtwJcrilBIqEqnFKXFFTWuaKbEgxflOxpBxnVPM/DOcs23wfPlxnq+NcXp1ns+kIVx+
C56PX+dWz2A83yjj+chZrncmoq2I0MSIPvgOjQGOVS09Ak0sNQGKrMKl+NvqGamyQam+UZ/qu8Wn
wV4ap/ouaKT6Ltia6mthVF8QEz2P42li4/ElHlApcj7L+5rgx2G+RaJWqy7wGq+CPuNB79G55Bq7
UqY0STzbblZXuHAXW+ktJIkr6UTv97Ac9OIcxdCj+DsRgZs3F90TeaBpKAFJQ5wmdgxPc6oHoAj3
927LtPfbYOu9ne4aEkla4fVh24j8VnIeCMd0Zb2iIp50ruvNgT1sea+lhrqamP+tySe3DflQCzhM
X1BFrsnI58zzVE7bktCFOKIiYiS90G2R013vHM2Oh6jZecL1KqKV0kLwQyqnw8WkKsI36MshENQo
fInK6ez0EJPTDLFj8nQH5eQUey3vBSanmJ3RpPPt5kSIyklTUTpfDYfDTEa8Nc2FYmpwUqYmo5+T
KYgo2sfHRDNwjGJh46gNg+IBdulfdqunM5pqBUzrxuDTGwaxOwPfRdjvHadZYbiRIDood3l3G9LB
QmlwsgU3f45ZjRVPrREyRfUyyfmaFFEk5+qnHHiAGhF/dhmX184t22J2ffApl+vpiy1XAfXzfk4Q
f1tPUPgTLaSaNr1tlHspqZbMd+FEpyr9rWKnRzI/5ON2JnqxZjH3gXoUIrOI0VJ9WTH1OOR4Maxd
rJrql3UpT9LE6BJLQ9PS1QvT5SSfdqUZQvvgFBNuXhOwaTjvVK3+7VzNTcVxkamXhtJ2AiO1q6Om
JV8aUZWYhsN2fk71KWsL1ojrE2++FIT9mdXP+Sul0ojFxlkKltWlPMVpzHwHVIX3WsBVvNzAVbzM
pp9ynhu3oCs2OoF9viRgTh0uX4tG/dxyG+OQGfzDH2vcLX9cdcQlGzb9lmxwH+32Hu3eQJYUb0cw
WC2i5dzQDcuJp9P8dr5aDCLVNU899cj9OAPOdU9JL9BnHOtkPPPf8MzN3F4Mc9ZEXNHzfCDh0lAP
mn/DNHKAHoMRVCzkZAl9vkHA8BXv8aSA68dEs0bNwwrvsbkUCIRHxXAoRANH4n0fFpMEsNyuOKoY
iQhZQGfrILF9eCRV/XN6SOdTWfHpfczuNoeuIbjZuw1dXjKkaTyQaCwSJRg9mhjTqWJSEmJo9eBI
yfEWpcodmTyup6m1lSScNEGGdr4SgrzI5o9+A5FNJJPhy96G02Ck9W2YCt5aeM37sfe492sqPQdk
OEU1vTgsJIbgPfRKCxUnlePttwuQAPOeH0jOqsvx/K/+VXTM6693Ast0MvO2bezcDUaJp1MmsXiv
wQTR8x8oGnTiTkXDo5hJlfyTnn4RwQhd9C3M+WhhiJOllNcyq7sttTqqWwp8Bk99sUgkXL5XNjvE
nNoUjF4cwSvQuII/+gyUK1SHMTbJkboCszIMOgFkqbcvTkDlk995dohq8X6PVt+CR0lizj3w40CF
m7/ymCHO76oNHwRv07vv4rW8DgXVePGfTJm/eo/z7Z/V+DdaNeHbMTy/XmZBKgNNbY0gSR8uIdql
r/jZ1SPwGlYcHdKjCuwNo8upc6nuSW5PD8cJOo0DvTsNaQnwIeGgFfXLuEVLGrL3ZbiBIrZo4CT2
ceAsSRG85Y6fWRCm/0syC2S/LzZkFq5oyCwsoJmFVY2ZhZO3nVm4ZGJm4YsNmYUvNGYWrvi4Mwu5
wLs6XKVmA+kE1VChtTUk9Mn+AnNMZHdvaC6MdMOhhZGeZkkgelu2usiFDfEIz1BeAZ5nKG8yRXk/
zJY0UUOkykstA7PavDu7qXhhmXf70/mB6U3WtKHWMVcbx27NjhQrtrfHs7OGC0+zaH/y5ssEqu8m
149R6dF4xXKB5l8b5Ax5u1yiYepEGYulRvfUIGjZLtiFku/PSuUKU1Mm5CfzP+yRJ0czRpjPkbiZ
1r5CBV19A56f+oMpYHaVMuJUIdKEsOiUJHV0MwWjMIm4bV6vNUgXsDgTXdVkg6x1B+JiMiFOFZ3W
TrOH139len/mScJq7fspXpdGvqKaSY3AJ782j2hmJrYunDZjkaTprd1zAZEzrZ0WJE0UcrrYpXvP
GGgu9+3OO2BNS0OX2d/Z1NEk2VNS3ptmR2tTaNRxcN7D0QVrJVXUdDNUQxsv1REUlXEWcijQ8geS
NJ2g/Lj9KFF5y7J4B4zc5jZIfZYLT9WkbsKrTOqdVOpPjks93z+z7QrB8G6yyJWT6rInEv+T91GA
mcMF+K7j3PcfTm08NLdQ4T61Pda/lqmq5LdR0LQ1/x+UMZWDAiZJlraRCiA5r9sld05IBdzCypck
gceRP+dWFyvpcH+lVrq0rJ4UyMJvaVLgu1vULI0Mqbkw+QGFmE2GLvASgb22SA/M3UZ6oJbASh3Q
935pgoFDaZkSK1HiUS8mJgwExvL8jOGRgJmjeETO+9lFKnA7cCH8XZv+4fLy3zEkgOnePL6AeGPT
73TpeYQfxkKab0Tksdi7nSYbr3YG0VldHnhIYQWrqps+7iEnoo7AVVrbBRvUZwqJ5k6TnGcODVCw
8chCknQy4YujZlTiPeo/5+M8K5GLFRroLoYDfZgx1aqel+pNiinflzKgUepF7Oh9VbH0aNxxNYYo
rpXjIVmNJSTmZBfZ5c5MkyVY05mHXY0jWDyeO9BxZphv1YOUN/zQe+4RaIa7vOef8w6CuXx8n8dh
L9Tx3bynDJElvzu952BY0/8M8SALTrgR9Ns2HjXNTeO4MvXXBUbmjD/Tqi5ZsstsOvy54P25qf32
Pv4/EYau6AppEpC9vY0rJgWvfkwdaol8DfUgs4JB000dRkecRFMxiT8IVhBjMf4pvYJCHby45VpS
V+DE+vMhRm+He50sCHALdfYZk2i5fEsM7sHJuSD4NddQBaBRHJsBYMiLcqIlYISjTeEH2L4eleQr
X/VugJGbT4QR+AN8wttwy/He7kYYPvU2HHX0dbRcwLviZ4DQ61s27Lee4g3v9bPPFiAO1oUXVu92
oACF1asphfpnwdGdQ0/HWfwMXsFyxrSb9AoQddCz8wg2amfnv/rmNJg+DQ73fnzjSecb0ogHRx5/
DRyFZ7toBE/CaE+wTj+dniEDk049Fc/wgvcKx+ownuc3sKOnOC5E6Xha08r75pEKn40Mfu4dSv7k
et8DuLaqu2fBBV4VI2A+JRreZyGCS3vTnwxUuRWrJbhhjbcA1jrX4TlQ065kmmAFVUYyHQMjaCoF
nRUV8UE0oNPyoUUXwr2ZVUtuQNy/as+DKA08RZcugafHqueshrNpuOk9RA9JrvXnhdl7OajPKKP9
LrM6jV96X4O3iQUHG8Kmf0dJvOjhCKtoWfH7s0Gd0Gq8mgi9GlYnxLPiIL1UEdm1lXVaAbRsz1W0
7ufxtTp4LS7ce6G3CC+O1vV4D13rkCsdaZ1/YVxDTr2N8si1igOe1hqU6aFpIQFaX7shGyaLBYph
mXeiWS5WZeDnsPrQM6NbiqE4/DzYuQbcAhBWvL0WSQYs7dqvhE8HdPJ8QowIEA2LimbK0YFS9fQW
+Mpp3d6GuXA7S00BLwre3i45kyWcMOhUwmE8DkYs7d4PiiCCBFc5IFreJc5T33F+Eu1NKwkRDJpd
yshu6/rHn4Jl4UgUjbYcDY/l+keajLakqqmgObYuP3wvyyppQX3NP7h1frVMW2NVzrPeaS58wbsA
bkaxep8wpLGgKAc/dT6cB2vqNTYFxDTlHEEYD22XDK578W4xOusOal7G1kUTV9UiyxcmMJiFbTOY
5fdlMI+6lxGYQxMJzGfrBOb91T/V+cvOCfzlOYy/PO6j8Zf3BfzlwdzhH52/HCcvra2Yy9MamMsT
v+Ytm1uru0AdUCYyl41VF97uE8os2stRvlZiERETfFBcUT2R0ZZztkNbyrrtaO9JW/I10jKhpHuj
WzGWD+4cxvIzbvWyRsZypetd3shYrqfYZGxLxnIVjVMv26mM5YM7jbE8s5GxPBsXWANjOT9gLFsb
GcvjKWO5biJj+dmPylg+uLMYS5TQDY2M5SGud2WNsbzH9Zb4jCWjKc9mjOUX6ctFjLE8jcrpqzuN
sXxwBxlLqlzjjOV9eLGMsVxPGcvPaWYYLqSM5d47zliyGpedzFjyt7rVwxsZSyVgLC/KTGaMpdvA
WMLP6JUvHWcsXdVUVV3Kw2V1xvKdj4exZJHPONtV3mZd1QTG8v73qK065734SsI1b36eSOOVnnye
D84Av2NM2s/rR/LLPNlH8XPZIHusB7wU4wtqNQ8l0f+FzzTwN3q3Loa4aUre52kJw7HWSKVDPNjw
vgUjB4rFcsWs3uDC8UomrRMy2btISsTUa510e38KvuUoDRRZjQ1cwWpyxtlARGwi1MlAfTyYDdjA
8jMw8hpFpPj1RzqeVpDhCESIX/m1H6re01cb4NtvU7T4NnCSc8cTFIt67zjOE7+rcYEHfUguEJf0
5VtxgWfW1u4OcIFClcUUlS24uO1zckOFxmfh5E2DlJnrCqmIj/aGfgwp/Fc+R7fJ4l+YyNE5K7zv
0Of01kTddgk7MeItrz3VLMsdO8ohNlc/T690j4kc4jHkwq04xKk7yiG6/xoOcfCTDRziqQ0c4gmU
Q9y3kUO8bNsc4gkTOcQ7GzjEYxs5xFP/FRzi3R+eQywg9KIc4mgDm3SSCzfW2KQJeOvaLTjEJ3eQ
QxQZh+jWOcTDuGN2HotIy47qBKLPKJK78o/0yFYDjXgalbWnwben/mgijXjZOI0I/2zzlkykEU/Y
kkb8tflT64eMQDyNEoh5SimiyHcajfjVowIO8epQODq5tlJ/jzNX5BYFch6FIbrlDAXLysV7SL0u
aEuZ2/UyoIBOxFmSmJsi+3mtKP8uUOOqKt8KI7dDflp3ThJJLGvxUaiOuvBUAnVBDqueAX8QVdSF
DqoLP4O41J6QLVWRmiYN565Bc32jRb4uyhrwdbXYSAjI8r9tFPjmvqlNTrmroBJxzI3yEVQRU+Cd
9SJvlGR3Xsmd0t8q/8BxHuLh6bplevpfzzNut+Q44BkfcqsnTeAZ36/4OOAZr6XAcHrAM36QMuSd
xTOSOs/osxxs/4Je9iveansYGMP43ytg+opXqmHGL76ynO1jeKyx/vZqb0VtJ8M0POZfGbc4E6Wj
b5NcFEs11gwFsw2GEa6e6z26QohlSwaZhAFui8BSmQj3IsM0/PV+zUfsmMQfTGnO+UTgQ8NhM1lP
Zbb1T7aqvzDan8ZY4UA/yO0x4BvebWqGxb6P8Fo2n4/B/ZRlVEIhRUCIF2Kk42JzoKsp/fExjJWA
YWzm9qAMY8O04JPdwDICjzq5Jemqj3Oy+PLb/PSJzGtohbdxBUkw/nVuQM+S/1mi6aSBfN30aEC+
HjLO0AIlHRtJWLjVWw6Mid3fZ2iJ461RDGVLKhYeqhG1cKsU1Doy7o8hYVaVKZco/1cRGwBejQYk
RwQ1ml89nFVAwrwr4Elaq2mReRfXCyEP+dJ41ebpp1Nu8LQ1jrPsU6wk8pRTWPnmlqxjyD8vn6eF
lkyV6TnJo7DSP9mfpsF0eBSP+oURqswjm9lp6idge09f8F5h5OMppwQ2Zy1DQxlaTZ5voztyKBEn
MrIMx1VhGxqAbwbPg0U5g1SbWyS96t3TjOj5heaCW8WA4RLvHpdscL2TL5b+crkjXef87Urn6sSa
NdCyZo33kq8f5Mxtcwjb391obnN347Ta7sbRYHej29dAIRyOVmfWFgTCFGqJNu5U/uCS8ahIpqQl
pVEDC9NQVlEI6ikeHd1ApwefqgtZ7cSGgfGSioGbfIvzEp0uanP+yGop/sjWFUY25FA810feSXk1
20kJCt/EO4mwok3Gn6HfmjLcIeI8JoVY407K0WAnpdsHakI0XJxbtpNy8noHkvoFE3dStkzYSflS
w07KC2o7KcvcnWjDjvB357SV6SbKAq2bzkFQK40LiG1jhPjdK8/qte9e+dm+VXE+iy725IcNUcxc
YSifeeTpsdmzx2bvbqidYvoqJ1J01tNjz8L1QXtClLgFrJNCmUlgnJ4qloJ+CoHfpNpVru1gLrD/
jSpW8Muh/3qSeZKCD9nnqWa53rcsDIAuNW9SbjIvUzNRWOJWH2BqeN5JhKkUWYFq9lfJiWvG0zSY
eoAqnN3ELzGkTFyR4KLDiiubA3UT1JXFw7QkmzJVpYqFeqd8Jn6Yr25GJe2cE+Y+wu5Mgfmr/2T5
knZuHuXCoVCpo82KX+Wfr0yAm20NjFCpQF1Z4979toCyLRbIATcCn0y5mhs1NdFb5u+wSUYVxD4v
d4qxXBfdXDM80CrMoKkhcImICnEv1fgDjI44RO24zM9glTlEaZ6a4JNxsctbo7rqwUB4BeCALSv9
/21ilf994biEi8Q1tFw+H4WiPdCZ6c4J9pDz841xVdYkQrt44NwRl81dKOgVst0uHksbunjI89cY
UuU3AOQ3dGbXsJmlk9s8pbGJh88e+ztZaeYj71etl4MH22tQe8hMv4M9rtngsYluOgDiP4zSOzLQ
/7So/Hp/9yueiZ7s2wr+o6hmX7QFdR9ENZ2imkpDj5BGfPPYkDu0O4zs7jf/qPX9YA0/dqdYdYbF
ent4j8CMMb+rB03qPOJAsdafhJ1Lx7U7vqoae5NspyNJze49FnQemdiEZMJ1NDYeoR1HhiSr3m+E
dhtZMbHPCGsyQrgT4DxSrOMXPHfFLrf5yQpmRODxn35q3bC7zvvfl/ysRaj1DiNEOtF4sOSF0e3g
DLqb7xV/0dAp40juPG4N9wvul9zvuD984H4ZpZ3bVkOkG8WCthpgWP1s72uw+ho6bJQYbt/hbhvg
/yQ8HVFUEqo33dDvIZLfR4NkaeuMWh+NZvrDPz7GBh1vVBOITJ6H0VqDDhFiA6bfeiOs8uOdOtLx
GCEkPmD6bTuikcgOtu3gz8QfZUEafp/uHAd85PYeUP0vUgHa4COrywBmMWdMaPORxIGY+VqPjw/c
8MO7OgMSbfwRWJ2nybuo/6PcadwY3e/F/Kn+rwsYG9x2GZ7xl9vK/3eCSJKLSe33i+bqFwxxt/vJ
J3GVV6/4mAJL8m4i0Uf/xHDHHlwnLuj/8e2Qjna+NAN4XI7oT2gRQi+c3/Xp3NT5uZ/1fosYbeUk
6K1rYvDZn+6zrr1znfdfLx0Zcu5wNdG547CEv5NW/AlatSjXwy1Fa8QB34CL8x8tqaNTGF1pBNbk
66PrGkAzv8Z99/wGTC2cuoNZn3fPn4Cuv4yg+5zyCY0w/BbvxXGU3QgV3ysnNI67vSMQcL5VR+bB
OljL1oG/b6q2DjC4AFpYDXJbgMPbaikYkZ+guff5mgtnuN49cAmLYxZ7J7vkzwE0b4bFtLaCAvac
dy+/taLpQXyzhqJ258q/OddJzuV/IQfW1YRwh2OktZZUfPyG6DJGDTw9/wyAyQOrDimATIzhFwyp
dCzMpiBDcqrOA4uCTjJrt9dJhgGVSmOXsTr04+k5yafYOUNcOjhrYfzU/tnpNFRIml5Cll3Ha/Q6
JMIu5UJiSHuz6wkuCQHIA4skx532r+mONpc7EB6Eb3EO14+oqk5nU4VmZCfblLYVVf6pUNK+WGtu
sviCgCFOS/yKWHNG57Oi8f3tFNCerdqA+he5yUypySY9k9PW2j3K1sz1h+92gp8i8jY/9d/1nZb0
U+dO+NQhiHGuqXczeK94acHDx3x+wHn4mM+Vz4oJhdsk84wnDFHOXWeEzv0pxrg0YNpNj3TR48Y7
UCN57nq4DP5BLkRctx93cBBTstKYcgUtA9s+yKAJ/lyqoNOgnqHPKiPsb5FLeCXlHDU6A2xjt832
fiM2rFBYgyinl+BrvC5Egz/NSUZXq43fiyLtBZXgZVGS0MSTeLHbIM1dcV4U0TRoclILA7lSlYyj
20VZDgmE7q2WVFlO6pbWEc9KMwVBEhBL8NmTWwfEs8TBVjJyqXPrpU4awBAwTJclwfiFI3VnVQyl
IeLIIJWd878nJNIt8WQmrKaiiUJT8odrhfNlQuTV/NpbbfvWXb70/zO+tBd9aRv6Uo1h+kpJzuGC
rtgzoBRDB1iqQAIuKmqR2HBRNL/Z09J1RW7elBycIx55fyihNt3PO4e9YPmOldvlS/8P9aVSwIRu
YvF2nGvi2rhuPwKkxlHfJjPaFlxh7ZmfuS6z7if4OP89GVPvtbvAyN+iSyAEL8ibY2Nj3m3bIVI3
sEv0a+n8/gPPNXYppb27+HwFL5MWi1YwWOV1/3oqcBntUgojtEtplyFNmfMXPuFWphGj9HddaoeL
rr/e+8w7++9PN8qHD1ONQ71/kkNpp4CH8TxTN3+Tf5IciXrejn6Gdl/xVXwa03ebtQorMIagII/r
vFgpNOYUmQwbo/hCL+sXFOg4seCBWFxwmGr3T55ktmkva2dkzph8hntG5OWI9wzT9IrPxArS34MO
chWfZM1GPDDkT+AUntHNvqvvoD1S5HCqW2Yd6BwiXKumkqdRRfb+Ebl08uTVII+NjjKd3kR1es9c
oLoCVd1RyaFM2VOo0ZOd31ES8imqx6cptW5Kn8V5n8R9IvBrMTAksyAHjaaCXin4ssBaiJZ8NpBU
yoOsyyGlBAsslUqbnwS9SVlkXqbNqMrF4Rlo1T/VIhlnAQ/X4DPfQttMvU47m3w/b5A7ISwsoL95
ze9acqd7DQn6jITcWUJYkYA1K7nNvZeogsQHvUsg6W76q3sd8ESg6/vI9Q6JYtC6nvaXYk1IrsZn
+ypHoi1G0uvGREEUzaCKL8KK+NZooigFnZXGFFNNagqPmljPWthc3/bqC+x8aZhVCtAtgaW8TfsD
2HS0QWLDp3WKtJsk/tUnfXwSow39n5kFH5sN1baxmM2huCqg2kQSRqgkxyMSpEnUsObAvDM0vgsI
ech78JBDRr0HV0X4Hh7X17wVh8Etfnakfd8VND3yKMG/KKvhlNGlh9AcyRMC6cI59q4gvMBn5URM
hbQE9OBhuCWcMMJHyxh8hyJx+QwlEQ3feqmhPinFlC/Pn39JPPpcXPvCXsscp3cv52sR7Tkttn7+
fDF9XVR7UtTkeeiyqEmVVVU6QyDhSFxqzLlY3KBvYSayX8zU2OUg3SOWAyJ5nABDy7nqNOMLyhfM
L0RgeuQi8yLlIuM0WOCbnIM/8at69ufFLjCcuOZcFKHWRzku4IqLhxVXTp++sngYCKef/r8g0HTQ
7yXnM/HTpzutlBqm9fB9pANt9la1UkT0nngUhs+BpWD8xHsA/fofN32Sv0lyNu3roE7U6uhttPPz
Wc3rVjrRNlQJFKKlrg6ICUVfEegb62rATwK5sk1FMLajCFCqKcEjh+yvBhpwf3GPSuumF33RS00D
c8vfq0teLE2d1/7NFcd9MOGL4Iu+p8wEH3fbfsTk3tSZifhy/6ndnkvu9fq2JC9wZyDynj5hh0rg
X0pbeBKSXueuexwf592FQ70F4bsYvCCdY0FhdeARwtyl8HW4nFyJ3qCTm8OdyJ3MfZY7D/Hm57gL
8QwlqdBCIbVN23ogYEJQURqgfRAoZMS/0aZ4Rb//aouPHGWJbZetdVemRSD4NcCan1h2yZKlAGG2
UDBKKGlfCTpAIQ4drhT7LdkuDg3KLbJdqgwWEHGZFRiKaZl8KFTQpThfcFokyUq14dzqUVGMJfWU
IWRF1E1BiMe7Uk4maoVCGi8pUjRsOeCko5ZiCiLGcLqdtcHQ1BCBsCSZ4VQ80wRNjiiLIqgxWVX4
qKqmElknIYQnIxINkaJENH4AWskQkKTotHcafHOTm8muVdV2yzCsEB4rkjR1yzDNeETW1YgdTduR
uBIRQko8krEcx45GojGImFFNBdfNZKLJcFiICQqGGOFk1GmOp+MIh6MniZYwlfCgEJ5vRvdhoU7O
QQiEkj8B9iQryZdQ7g7GRsOsj5JFG2rZ5co4TVtmBe2VgGXlKcvKenDKUBqAozOhMCzhLfOGLqLE
zLD3JzVtJ0nXdeY+mzld6uVNtzkCiUSLgjELjqn3IZzqrIXHADJiq+HUxp+FU2Y0aqbCPzvyYucl
rclJ5AwCfKRJe9FZcCQY7Eop8/RLxjxFuDxXrLNPtv9EOWGM7ceJKPyPP1XkgJCK+E/epZSY0r5W
J6dka03sG7ggnBpJtU8jVzW0f52vUo49LLG/SJojQY9SBePbeqdIucw6RQaNSeH33uXua86Y9wNa
fDuFdiN9gkW6q1jb9bedg+qdRK9pjJJLtSj5TG+zC/AWNFGM/FpDkMwp3Dq4FlfV1YiyclwF/dsq
7lxcU59nmS6aJsUFUGI9yGnMVaZF3KOsYKiC4Zrc17C4eqA/WF1+XGdb/toa3vbSkvyVhcFusWFd
4eEtky2qkjyAawoEQ9YTqN0k0mknQuGQQJd2WJSUqCkIfNSI6MWIGA4lDcsUspKOYa8ciXc5TiZt
4MISFS2hu+Da2ZguSiEppdtNNlhhf1kJlpFLNUPOUkIS6NGQJEQ0XFPuHIIhtUZ2Q8O2FEh3HoMK
JdR3XLfAW3FT1QRIWJKo5Kx2yzR0FY8VjRtmKkmXVSSFq6rJSEUifDiKoV3Gxpe4pqKGv6bSbiam
8jFRk0gsXV9QC1lAEuV5HoOKg4B1zT2f7EOmbM14kL4t95+QSYEweWp3YUWwhyjmW11KQMi+5S3A
Xnch3Lql2ZjfFepagFaXpqKvcirt+4/RFUHrhl1mtWNcAfEfx0oW3qdjrh6ENPB1l1Ix+7DOuaey
LrrziJE8EPHqqc5VuqSz/rnOd+lFn4svx8bg29topestr3F+J6Il2Q8tSZ7bk+5AKku1Vqe0O98w
7Y/oK11JZtVrNoMWtMf2MCsYHwoq2ErZoDUfdcPrdbkrbEo6XG0YIBspMWQRIokJIgggqrx3p3G1
8HLUOysptWZBkK8SJeBfjMKeQoQHMyyK+bQohK9Ga9jjNA8c4WAMHu02JuVYgUQ8RntpE2HlcYk9
ljV1qYAf0qQ9BR4iXSl7ABWOMAaMWsjFOK5uXGucXu6zTMv0W+3nGzoFDlXqu2SoAWV/9zERe4xv
k4kBY09Yauuy59AogyI9E4VZ8SY7yhP8x6uShE4/gqHBY9HnCGFvcHXJ0AT/AXPtrBLSFATJCr1K
NKOET6RbdHhGJETEj+6RTGe1kCIg2E5AXEmosWw6vieON/qMc5i0Ulrp6OFYuxFJhiNEIaFwOBTN
Zw0c6/Goj/fW97TVtJFq4g13XxAy7jjbvOmS4wMtVFAHDe7wzW8IJ5Jj0SbH8adubgo3G+W/D8Zl
n+CO4NZxP4duOAm+Cz+Cx+Df4Vk8KjU1hRacN7RQRptdECuU7WCISyrTWkaGCygyMPsse3ASSDIz
SwP0UkryDLBmAKVJKGxAo1RmECL4C30xAzWsgoaL2roS+6INrEvBl03pPnQaFeorynIOB2mjduJp
Swj1KSSg/a7pVqYSZf58dyKVfa9C/Yk9g3WapMeg11oplSu0FVkBDS/9FL4ZP4VDKJZiQAnLXlJh
PbNJpUSt7gwEJpTbsVHrKY9IL4Q9cK7xaiTZZodAHWmT2d+HKTtZyRH/fejT8Eh0JdNx+WeiL+zh
Cns7nYvgvZSpwE/Q0fj50xjp5SXKhJdkZv9jDIJJBeYO6GxR+x78gV0G/aKbTiolU+zxZ7Ui4klw
mLQ523AF3iCyYoeSErEMTcJAuNVbkDeLl4WWRWmbyBZJUXkxmRIli9awnVTU+pNiVgjJ+U9nEvZA
xtSaF+bt0rlRgzeifDnlWJH4OZmk3ZsxopkhOxEvNWfsG/n9OlCtl7oL9x1Yp0Vva7pv5PIlK/fN
kaUtzamwckDnmCbck7p7+iWisuepRFw0IJOz0iH16njPhUQxVpeNSfnZQtaaH0nPg1n9knFkWrwp
mrg1lPxirrBIjtvxZNgZNQW83PSUDinMS2Ze5glt6psgUvOQFUsnUsn5XSYfXtOky3CuE1UJ2kNl
kibGddk14yEyW0/OT5ekkeaeVP/nskQ5YSYxxFMSIMR5YW8wBDFJWwcfzycFSQDZ0lUIa2o62QlE
akVjs1gPJw4xZPk8dA2fbF+iReyM3UxiuWFeE8NSIqspCcnVO0EQl2rC6T1L9lQwTk7EFLxkuQQk
q/OhcDfpFkTdFAUid8UicbQagpbWQrxBUOQJLYrvHQwlDpJM7RjBICd6T05qbZnJWxhF63kh3Fs9
l91XAP8rgqxCWY2HtVyoPa61TRr5LL/6k82xabSnNMY1QtpNJQHiHe5+BsA54rIl5wkjo9o58rmS
cEiHMDorWzhHXrHPuWR0RsZQIt0HyyuHo8ruSSLFjsod0LWX6+b7lfb21pnSrKxyVE7Yd9JMscsd
mNQWM2YRo1VqCZX4YqxLbFLM1KwOpVR0j1I6B6OFtlbXctLxQtTtVOZMUhbyaiS+LB6yJKJOzskR
TcwrQhb9AjGlpmh0fiqizg070d0iliCYZjIkRVLQFlaScsmIGFJFK01XjnQKRbVjtzYhbEtiWrN5
0dTCKdFJWlE5Io7IlqiIEE5Dlx3p3T0h8U4YwhHT5jUnZqRBLXfsLZl7CFJCD8txURL0oqv07hGR
pLj3Wjw8rWO/ppyOGNGkrVrzAhpxG0Jx0EQhLRO+JZSMIH5QM7T3diQOqKmqnBLSiiA5gnkNb58k
x1apeWvKSUJGKEuaCDwRVVEI9gGwLnoptLXj/ZTqFU20Eg70PNtkin5+6z2o+RJ5onr33FqTpYbO
eS0CImNdFar7LCIL6fbS6m8NSSwNTtm6g553t0F37m3c6G87Tbf36HQXKo3uoxI4qUpfc8PeU4Z2
9+d+HfQnVf3epGJjP9LXG1qQ3l3rCrr5qs1TuRe4qN9rs1yQaxEpqzP89ph6jP368etBL3qbDanp
mMHj7pKcbzkX0LNdBXvCo+i1fYTOABHfiNDXvxqd03XdQ8CDMfNBXSq26xJZvedGKCA+/wVte434
6kz0/IfjMWIsft2bHucDVbTIpS1LUoIylkpQmbJyYn1JrRYlta2SkTgt/MjxRq3QQwpPuJ3Ld/2S
D3jifWo0ogk121hsUavNuCUosRC4PoyvHsf4ikfNytH4CvD31JmW6pmJityQnYgxPwYpKebeABfZ
ZDxXcZnWkK/oDdIWBUWNnS0eeTwZT18sHWlIYewznslQNt8nHEMOxQgnxum0d0Mbk5+O8vclSe/E
w9c3mzEql+pSTbgV0S8OYj/wC68r/sW8YdoN1j7e/a/GUOhkjX+XnAUofH0Q9YTeK+ec04kRy1o/
IMZMGp4+Y0g573G/2uazqPHthvTmPUeCeRT8+54b36w+S+nod94S097vJGfOUUxnFjiXvuJAIdAd
ZfO9bAwV7hBuJdv9khdrRcb0QbFxG33x3jAZSrAlTsawbRtImTYT0cs8Dlk40NvgfXdQB69qSkZ7
STI+661SDRiCKYrUiKcVw9kST/8J1hje08LLMe8sXSrkiMggNSEvxnxMbaiIqTMCw9QyJKsJ742n
X512XdccMvmtdxzElQ863q+cV4rbR9uQTVffbQDcPD8RccM7OLlLvNc34hyaqAeryCGIKiuoBWfU
0Dddee+PvsW6zuj1+zZtW1Hy28HptD1bGb/J5kXPgUBJM+mZWB2o41g0EYE6H7URqMcYUMc3kB/X
1W3ThJsxvYeCeb800DGL/oOie5mieyLJYXoaAjeIlAR8L1j/T183bwjus7SlUrZshfoFgYREMczj
ah8J+rbzuOb39bM2dr6P9SRiPXBZurBIFdMvpB1mREvBtNk0t0hyrXTWZhlg8JsXs1su4YTyXbQN
cfUXtA1xsyGGkyXFVsiXXG8v2oSYjPcgJkbJMcToktkvimECD9AE2pGhTAiUmBhqiYVFu7U/K4k8
QRyyIu7niPwuxANW7/KU34NYUWpNiNGBEMecsaclYXgqSyBqStjdvy81PNAeprE7IebDnBT0c9jE
Iug8+tNZ3Hy/DwS/g30d/EpMe7y9w2mXDK3b6yO0eNjrbjE28w5dlGutHsibY94bH7jbA1+gRZ+/
Clo+bH+k8o6P1CeCG4b6m0tOXBf7CEN99G7RPOcOPbT0ww6VMhC1oY6PVOKSXCs3ws3FaLRWMfvh
xFraYsD/8dMTadb3mo8w5hNf8sUbasOB39Iw8Nmzd1jKRvc2Rq9yJlfiZnBLuAMbu5TUimoq+gea
gK1Lb/htdzCZ+vDRtCDn6M+VQzs4EyDHhJbbRPPMJ1DZm6/TQ+f89JSt2ptAiNX0VPd53xmxG8p+
vDU1/Vca9F9GTNHGTef24BYiJh3PpH+4dVDaaj3w2SDZvudH0I93ggT8j4PnrzWoyNiOr471jUsE
Z8CfjXcRYSW4DvSvM9AaLGLcv0l7rY+CHnA/UGsg1HgPBZmnk6bTO1nm9dotE8Ry7Z4KODUF4gzR
RNNxIeceRmHmjeoxBizpOoc2Dlp6kKjrkBjMVJ+1Jw8WxYPI0i6l68+0eUKX99hyodA7YJJOo9QU
EzxyLxFUXRuKZKz4kevcdXAe4CDUOHyWclCbqs7GBx24xxqyCY66a9D0FpL/bK9+kgUmve2ZTEeP
vjdFvQnHhYvHgjoFcSPbT9CJY17esDra6g03KOT6YDUytTYQdB7sba8Nvt1998xxqXfxqR0sjdn0
VL2HhK8ub221QPYYC1Rg43tUw9BIzFeQhwJV4LnK5qmsi0oLzsU+E/aoTWMbrWiX3PfvdhMkgbco
GNqy780/aLzW8soHbn7zSguL646eUBh0FSU8G7exDR63/n12sq13Pj+hEGgp+Lkvv4MMtQkFjO8W
+Z7f/miFUhXfZZAj0P+/uHObylwYQAI0ARt2vL3MBtbCatujlj/qqOvp4T8iFvjbTu6l0xLggw85
7lp9kj9uWu1V5ObVLH9lZwmcuUfysF8PNrZzZ+A+BhYMUWmjW3r+iK7w0R2fh0dru4CkBg2QESPM
x3V/4LgfFD/qdGxRehYLvCEctXMn5YBt1qp9WAUJahZ8/HQxaomfkQuq7cpB73DWRxxthL7NHuLg
a0If2eBuoC3EH+WbWFNx79VLBtf1F++obX19lHUTT9a7iUPqbl++a556Cm5eA3PGvBcnNBaHw/21
KwV7cN8N6jQaagHF9+1wDrUl+v1LPrUOMjvS7hzuZiuQ6d7MbXU+h8PZ9NWuj2LvMKLvZq6dGxpf
Zx/gEhuW0jU+yP7KDl3o4kZYzdD0rG1e7xG1xRAgw0uC1aAiNswjIupn3GptRXzgua2BQfKnmtKf
uUOX//wWqI+p9HZG0KC1hN4hXuhkvdDm4nWLlDLaVne3bnjf7m6UFiGd3iL31O736fH2aXjyA/Z4
a9+P9nmDsae32ejtN/Bend6+W6st5Z9EGdGdAQPc7g27AyriB+tltHUkQ5L1mAXm7miz9GVbBS3k
OBaijL1/ByQUecPWBN8eCy6OLo1jG+b2407gVnFc21ZtcRBnD9P9yROK1nQ0R/Q+UVu1ymF3HC22
yZJlWnZN5kGVWhDX8gWjb1KzOEOIB/2PEKJOE2PN3Q7ZF6KvfFK1ErRHSCLlhE7V9IhIsnwilVmC
yKb6DSHTpEwTSoOsQ1I5zmPsMkNs6S2bQpSv3pnpgwFaIBE7NmToMfxcCKRTFcOIgR2AGEFMtbQH
Nw9kWO61VH+Hw58LEd3WbgqbSQ3xc3htJGNHyfFj1etEe7c82BS+0W5JQ6b3gt3VmhGBzzwo0zvS
gZa01LWJJIRjSRm+yQymFHSaoms7Mz6zPuvxMXWcqsWFPEEkdPi/uPvUleNIybM/pk5U8P3A1tfm
VuKyaC0P4I7kzm7gWT769DZ6A32bzb3e8F3EWx/TLH+t0ZkUtzPlPmWzUyabeIFX8pZtowFYw4yH
0EeNIGY7gftcoyXcKZO+NeGzzalfWred4scz+6SylYX9+/ZE4Fve6i92ihDebjDO1W9vQxBKg1WR
0eNO5ZZzn+bO4M4fRwwfm3Xht0TXMwKgEfkXWxp72ztFPl6jsz7YJzjMTYG36neIZ7UqtM6l0gt+
JQ398it/SpUSNM349Kwj5h4+69OzDp+7fubhy4lxWDcx1hh892EGf8ARs+DTSw5auvSgpfscvHTp
wfqSpZ8m6cWTSfqENJmyOE1OWrq0vvImM9TdiRhrIa0Fa6M3n+VLLCsCO77SaLEQBlVkcNG9ESqq
KyJMeCv825t8eJFdGUmHTwOeX33+dDr/14xQcXgH77AYYDUxo98DQtieG9oRdRN60Rw3G6NnDuo3
FpjQEqyNpk4mtrmqdQYL+oLxAT9y2VwSt9LacMTQBDLXe2wFHalJJhmUJ1vh3Ywg4+QFtB/YQUJb
uWJVf2G2J/iIxbqE7U+M+fRmssMhIxE5psaKdHq3+URfRqWNwowen/2Db2wY846pdQOblE0bje3C
knEhathkIOjv7Xc7oys7hyhzQYAVPmTXs1owQPMjL+6UDmjwWIODP+bDtkPjQ2wdjY9W4lq4OX6v
HOa94cMOuCF8C3Ik3ld3zsBP2iqw+yjjr0d/UoPEZa7A7cUtRiQzbsc/muRr4WA9I/D5nTMZ/9xW
mPhR9aG+j298v6EW3D1tu/sM6wMUUMU733Nv4dENmvue+wmDHW1Xjd/PJGh0SQPZhpanfuy9ZZtT
ne5GHgraDg/Q7qYEpHBE9paVYcSmzU97c5LI621Z705vI2vKA93ZkiZpkfFmpzYN8abQfqiEtkMl
na/5vU7fOqHW/PRUyZnT2PP0BAc02giV40S6Q4l11x/ljkVccDp35ni/Xb95/iSQJ/Tbl+t3Le/h
p0O9335bQ2t9egNyg32EbqM2x7vsM/aBqioOuySz8llxiPbtvRqGzzmr1kxfnu3Oa2jDP9uFnN+D
n2f3/SagyFLQhb+6fGKz/bBIa5IJAE+CnvveswbfQTdYwVM6ry5UQqRbWkhbx0I/6ax2k8X1Jvtr
Glryr97uXb6j9S78IkZuIUmQJJGWRUfiEb8f/48dWOkMGvIvXJziKwi3K2+/K2+/K2+/K2+/K2+/
K2+/K2+/K2+/K2+/K2+/K2//f3XennkHIgZzE9xjEwEB2gUx6A8RYMLgdjQpXOb+PanZfXUeqZNI
1WfxesrsDjt8ePyubyQ+4disuUrDfXqCSYP/xmV07Bb37IGB8XUwq377Hj7ceOVDTL9pzjxX12+5
4QSNgBae9ZV10hbn+e+ttG3m+NlC41pEzzevId+dYXcPCrTInnDSLXo/FNGPP4Yq8dAWZ/5CTaSE
vaCtN8bWbDXWawPWidab/5R1aO7G1bySdsaWA2KFxfqUMK9vpRknVdvoX+xxCpVSi/4mG/TcLUXW
VYzed8qglEwZvn4jIfVezXB79XAXbvR7NXu3pyt9LUKMNWwmijXc30pToNn26h7kjoibsZSkIc4Q
S0NTU9V30j0JIWJFRXx729B0F+YQ1DIC3lIcLcJd9RNE1p6qtW2GI/y2zam2bnNOrXWzn+KMRqym
uD1A05b9HemMJWrZ5pb4HHugIyMlFHC8d+Ko5qIo1bLdd+zsbLcwnu0e2tHb+uy1K9u9K9u9K9u9
K9u9K9u9K9u9K9v9r8x2C9wCTia7kUiA11r83bCM56H3kK/3MbTHe7yg/z8Vodrh+DjfW+7CLb+/
ixhNJyEWvyJErz57oiG1XKNI947Bz8eKYzBVcr5AgfZVzsXO+jCuvc1/R5nvH+S727hR1tNjYr67
dv+VUi3ssGza76ToyxcvKBDveJp7yQNRKqPLNSa15dVHyFs1QUX3qAo1OUX3NtTlGcWXE0JRY7+I
Jvhi8t6OZELHhuPy6jUz6WSvn8pS28uDGe8xyrUZTyx3ZrW1+xMupmeY3Ul/wuEWYkUeFVVlV057
V057V057V057V077A+S0/3/Sg/j/AWpwSCYAeNpjYGRgYABiC4lc3nh+m68MnMwvgCIM55q5doPo
iymcJf9n/jdgvcr0hwEOACofC8cAAHjaY2BkYGD689+AgZN17/+Z/4NYrzIARVDAXQCpswebeNqV
Uc9LVGEUPffdN+ZyhHIl86wUXDmB8MZSEAdEpZE2UYuiiBl0GNSVIM9FUbRpFMRNKIjkPob+gXa5
0kmjdkGbiqBFIfSDKJjO/fxGrHDRg8P93ne/c8+998gXuE8Y5RmxjkLQgpIuINYKzoQn0aGPkZc8
SkEbeolTcgWJbKPAu7QsuxjpbuOnLiEOskjIO61l3lVxkedIbyOnad6Xkef5mr03blDDGOucD2qN
X3yXhE/Qq5/4fomYIqfqo9X6zGi5bpfv1zeMReTCl65+xFysD1zs11WnbdxE98nbw72whkHX4x7m
9RK129Cuu5i3eay+fCTO4q7jmd4EeVM+TvgZmJMNdPI/oy8Ocqwb6XWiTn3jPaf+BmPF6y9iwOuz
D85p+l2IqJuzWRgz8gN92AJ0HcO2F2oN0IO0ck+Ml4lYXmEm9ZResC7eYiR1k3zWkS4UiRLfFM03
mcO484T+BB24IXew6TnZJsd6oM/W3wWdtv+DvuQh98MdUSuRHizLV8zIfYzIDuvdInqwwj0l2Gd+
B53yHrPyjm+GMR3GKJo/7P8qPjTWZBRr8g0L5J8Lh9AaZokCd12hD1Xvz19ITR7u+090e9+beI2C
87zOnO39COSRPy9yNtt9E7Z386fMGf9T33Z1FNQe9J7/ox+cYG/1xvdj9Rl/A8fwtVEAAAB42h3U
TYoTQRjG8RoUvIAbXSmMcRKIYiczIaRA0J5Op6EnTicaiq4L6AU8iXgB94K4m50k0QjjOCi40aUu
9Qiv/3o2P4qn3q7Ux0ucc3vOXX2H2yvOXdt74/bd2D6hl8F2GBnfIV/jRHoZZCsj3qVmixM7Q69x
kK2M2HW1vXX3XMfOsScz+4BDjQtZyUb5kvF9d91e4chOcGyP0dttXCkJSiLJA2Y/YsCM8W+csP9M
J8rI/2CrcTrXwPWpHOirAZVJL2t7iUHjVkYcUrPD1r67Q776hp7kkMo0jjhizQprq93Y7dtX7HA/
Y3dgF9hV0pN9e46Z/cUjzebKC9WXtsGZ8kp5bQ+xUf0zkgkrb/BA9mTGPU+4zzRbKCllJRu7xCV6
9rbGjjyQXdmTfbuJGV959pbMlReylDNZydpuYcPveva2drn6IVcn5OqEXD1wrPyYm0x6GWQrU81U
LzLVi0z1IlO9xVRvMdVbzPjF9+6E/V9gT2ZyaF+w0LiSjVzinF56jSNeZ86vPELPzuf0UkqCkkjy
hNkdBvvsTrWfU+2hYfwLU1816quG/Ce2mk17W3B7WxzLifQy9dVC513ovAudd0nNJabkKV+do5fB
fmBkvFJfrVihckF9FTh7Mr1d4O02mO4hUPkCU18F3i7V5MoLVZZypryStXls7B+mvmrVFa36qtWa
LaulfKhxodlSVrJR5ZKaqL6K6syoFaL2FrVOZG83MFPlkfJcFvqqlDNZydr4f9H6MfXVf1HjvIcA
AAAAAAAAAAAAAAAAADQAZQDQAZAChQNRA24D1AQ3BHcEqgTHBOIE+wUZBbQF2QZoBw0HQAfICFMI
fgmKChMKQQpyCpoKxwrtC2kMZAzIDWINyg4yDpwO4Q9fD5gP1RBBEH8QwBEAEUYR4RI4EtMTOxPg
FBAUcRScFP4VPxVuFaEVyxXoFhIWkhatFsUXKBe7GCMYixj1GToZuBnwGgwaSBqFGsYbIhtoHAMc
Whz3HW8eFB4+HqIezR89H3ofqR/dIEMgeSDcIQohCiF5IZYiFyJHIn8itSMCIyUkgiVGJW0mBiZZ
JnYmkybDJvQnPidZJ3QnoigoKOwpEymsKf8qUyqHKw8rmCw0LIYsoi0xLVwuLi6DLsku7C8HL9Iv
7TAMMFMwvzE1MU40BzRjNH00mjS8NTM1eDXaNnw3LzetOCI4lzkWOaI6KTqnOy47rDwnPKM9KD22
PgU+VT6vPxE/gT/wQJ1BS0IEQshDiEPBREFEtUUsRa5GN0Z4RtdHiUf+SHNI8kl+SgVKg0sKS4hM
A0x/TQRNkk3ATe9OJ05nTvhPZ1AUUMJRe1I/Uv9TOVOrVB9UllUYVaFV4lZBVpV42mNgZGBguMt4
nUGEAQSYGNAAAC6VAc142o2RT0rDQBTGv+k/KHShIi5cDdVFFzZNGkFocRcKvUCF7sY0tKHtTEkC
ocUTuPAInqBLD+IJPINrV74kT6ilaDPM8Pven483EwBn+IBA8V3RLljgnFTBJdRwx1zGJe6ZK1Tz
wFzFKebMNfJ8Yq7jBC/MDVzglRxEpU5qgDdmgRa+mEtoiCZzGbfCYq6gJR6Zq2iKZ+YarsWWuQ4p
3pkbuBGfXdtx5dA3OlRaDoxO4rZM09QKi5Dlm6UXzFWk9DSIpOvJYaIWoV+chzI9mVkeyoyCKA6N
lo5l9/eKXI8NlQ6DhRyriYnMRq9nSbLqdTp7A6ELGw5cSAzhw0AjhKJT0otlKkGMNqk0XxZld6us
XC3hIaD/oRDl0SmpiHpcime+CUUXeecuH9vTI/0z5bE9ozwTE5v8Lg5NaqP/j1MW/T2hym8akJYY
k5qQX0R7Q/E1ZlSbYEUTdmj9+ULfGZ6JKwAAAHjabdPlmhxFFIfxejeE4O7uTpie7p7J4G0V2yTE
CSS4LLAEDQ4BEizBLUhwd3e/EK6BS4A8229/Y778n56eOr9Tp2rCWJj6/Ls19MP/ff4OgbEwFqYx
je2YzvbMYAd2ZCd2Zhd2ZbfwD7uzB3uyF3uzD/uyH/tzAAdyEAdzCIdyGIdzBEdyFEdzDMdyHMdz
AidyUljAyZzCqczkNHok9EnJyBkwZBajsIbTOYMzOYuzOSfUoQkxzA5zwtwwL8wP45wbFoZFFGFx
WBKWhmVheVgRVlKGVVTUYTUNkdnMYS7zmM84C1jIIs5jMUtYyjKWs4KVnM8qLuBCVrOGi7iYS7iU
y7icK7iSq7iaCa7hWq5jkuvDZtZyAzdyU9jEzdzCrazjNm4PW7iDO7mLu7mHe7mP9dzPAzzIBjby
EA/zCI/yGJvYzOM8wZM8xdM8w7M8x/O8wIts4SVe5hVeZSuv8Tpv8CZv8Tbv8C7v8T4f8CEf8TGf
8Cmf8Tlf8CVf8TXf8C3f8T0/8CM/8TO/8Cu/8Tt/8Cd/TZ+5dt3k5Iw43uv1k4k2+2Zq5mZhDsyh
OcscTWUcdc+lWZmNGdtMe6ZuqpuZaWbqp7qpbqqTjkz7S3VT3bQ29VP9TD9zn5lOppvpZTqZ9TP9
TDezfqab6ebdet1MN9fN3XfufnP7yPVz+8n1hmZuP6X95NbPO1en1B/oDfQGriutPzRL9zO0ft7V
d1/Drr77HeoOp7x+r6jaTNp1yajvc9Nme2+2Zc9s++lXfu99SAa+91wT55MMa+t19yvzuXN93+/c
1Gzn2a/b3yXe76SdR7+7N4nzT9xX0s2hcG6F51R4ToXnVDi/wnkXnlPRrXeOhXMsnGPhHIvuvDyn
Uq/UK/XK7l5271un6nX3wXqlTqlT2U/Z7qvs/kelbqVbWbfSrXQr3cp9tue1bZl1K/3K+1O538o+
qq4P+6u8N5V+rV/r1/q1fq1f69f2X+vX+rV+rV/r1/q1fq1f6zf6jX6j3+g3+o1+o9/oN/qNfqPf
6Df6jX6j3+hH/agf9aN+1I/6UT/qR/2oH/WjftSP+lE/xon/AJFat5YA) format('woff'), url('Dekaranger3DItalic.ttf')  format('truetype'), url('Dekaranger3DItalic.svg#Dekaranger3DItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


