.custom_select { max-width: 500px; }
.custom_select .fs-dropdown-selected { border-width: 2px; }
.custom_select .fs-dropdown-options { border-width: 0 2px 2px; padding: 1%; }
.custom_select .fs-dropdown-item { border-radius: 3px !important; border: none; margin: 0 0 1%; }
.custom_select .fs-dropdown-item:last-child { margin: 0; }

